/*-----------  ONUR EKIZ PORTFOLIO ----------*/
/*WEEK-1 Homewrk TUE-THU CLASS*/



*{
	color: #777777;
	font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}	


html{
	position: relative;
	min-width:1200px;
	min-height:1200px;
}


body{
	overflow:scroll;
	background-color: #eee;
	background-image: url("../images/concrete-texture.png");
}


ul{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	width: 97%;
	margin: 0;
    background-color: #ffffff;
    list-style-type: none;
	border-bottom: 2px solid #cccccc;  
}


li{
	float: right;
	padding: 20px;
	border-right: 1px solid #bbb;
}


li:not(#space):hover{
	background-color: #52527a;
}


li a {
    text-align: center;
	text-decoration: none;
}


#space{
	float: left;
	margin-right: 60px;
	border: none;
}


.active {
	float: left;
	border: none;
	background-color: #4aaaa5;
}


.container{
	width: 100%;
	overflow: hidden;
	margin: 100px 0 0 0;
}


.aboutme, .icons, .info, .protfolio-div{
	float: left;
	width: 45%;
	height: auto;
	margin: 2% 0 1.5% 2.5%;
	padding: 0 8px 0 8px;	
	background-color: #ffffff;
	border: 1px solid #dddddd;
}


.mypic{
    float: left;
    margin: 2%;
    background-repeat: no-repeat;
    background-position: right top;
}


.imageicon{
	float: left;
	margin: 1.5% ;
	height: 30%;
	width: 30%;
}


.portfolio-div-image{
	position: relative;
	width: 45%;
	float: left;
	margin: 1.5%;
}


.portfolio-image{
	width: 100%;
	margin: 1.5%;
}


h3{
	position: absolute;
	left: 0;
	top: 75%;
	width: 100%;
	margin: 0 0 0 1.5%;
	background-color: #4aaaa5;
	text-align: center;
}


header{
	color: #4aaaa5;
	text-align: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-bottom: 2px solid #cccccc;
	padding: 5px;
	margin: 0 0 10px 0;
}


footer{
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: #666666;
	border-top: 4px solid #4aaaa5;
	padding-bottom: 20px;
	height: 20px;
	width: 100%;
}

/*code from w3school example used-  creting contact menu*/
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}